CHATBOT - GS/Skill Node-red - AuxiliaChuvas - GS.json
[{"id":"3ce7622830bca25a","type":"tab","label":"SOS ENCHENTES - GS","disabled":false,"info":"","env":[]},{"id":"b9b202c25f0e634b","type":"telegram bot","botname":"JoaoTeste1Bot","usernames":"","chatids":"","baseapiurl":"","testenvironment":false,"updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksprotocol":"socks5","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"9268589f344fcd9f","type":"telegram bot","botname":"AssistenteHCBot","usernames":"","chatids":"","baseapiurl":"","testenvironment":false,"updatemode":"polling","pollinterval":300,"usesocks":false,"sockshost":"","socksprotocol":"socks5","socksport":6667,"socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbothost":"0.0.0.0","localbotport":8443,"publicbotport":8443,"privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"4d5345e1ead70414","type":"telegram bot","botname":"AuxiliaChuvas_AGJ","usernames":"","chatids":"","baseapiurl":"","testenvironment":false,"updatemode":"polling","pollinterval":300,"usesocks":false,"sockshost":"","socksprotocol":"socks5","socksport":6667,"socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbothost":"0.0.0.0","localbotport":8443,"publicbotport":8443,"privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"cdd7eaceb6e19bd9","type":"telegram bot","botname":"SOS ENCHENTES - Assistente","usernames":"","chatids":"","baseapiurl":"","testenvironment":false,"updatemode":"polling","pollinterval":300,"usesocks":false,"sockshost":"","socksprotocol":"socks5","socksport":6667,"socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbothost":"0.0.0.0","localbotport":8443,"publicbotport":8443,"privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"1cbfc966adffbb96","type":"debug","z":"3ce7622830bca25a","name":"debug 6","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":320,"y":40,"wires":[]},{"id":"fc2cb1dc2e531c89","type":"telegram receiver","z":"3ce7622830bca25a","name":"","bot":"cdd7eaceb6e19bd9","saveDataDir":"","filterCommands":false,"x":210,"y":280,"wires":[["1cbfc966adffbb96","6df866b8ed3a6b8c"],[]]},{"id":"4b4574df7f35e604","type":"telegram sender","z":"3ce7622830bca25a","name":"","bot":"cdd7eaceb6e19bd9","haserroroutput":false,"outputs":1,"x":1050,"y":440,"wires":[[]]},{"id":"171515583151e7cf","type":"debug","z":"3ce7622830bca25a","name":"debug 7","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":500,"y":40,"wires":[]},{"id":"beab106c7376f7a0","type":"debug","z":"3ce7622830bca25a","name":"debug 8","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":740,"y":40,"wires":[]},{"id":"079f0eb583e4b9b5","type":"debug","z":"3ce7622830bca25a","name":"debug 9","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":940,"y":40,"wires":[]},{"id":"945596998b2a465b","type":"function","z":"3ce7622830bca25a","name":"function 7","func":"msg.params = {\n    \"session_id\": msg.payload.chatId\n}\nmsg.payload = msg.payload.content\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":460,"wires":[["63f4635607938b67","9f807f74a038b7eb"]]},{"id":"63f4635607938b67","type":"debug","z":"3ce7622830bca25a","name":"debug 10","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":640,"y":540,"wires":[]},{"id":"4390325665996570","type":"debug","z":"3ce7622830bca25a","name":"debug 11","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1100,"y":340,"wires":[]},{"id":"9f807f74a038b7eb","type":"watson-assistant-v2","z":"3ce7622830bca25a","name":"BotAuxiliaChuvas","service-endpoint":"https://api.us-south.assistant.watson.cloud.ibm.com/instances/f957e9a2-3169-45c6-82dc-2fbba8a286ea","assistant_id":"cc60c20d-4a99-4615-a2f2-7a36a18cc87a","debug":false,"restart":false,"return_context":true,"alternate_intents":false,"multisession":true,"timeout":"","optout-learning":false,"persist-session-id":false,"x":670,"y":360,"wires":[["25b1b5309b3d2b12"]]},{"id":"25b1b5309b3d2b12","type":"function","z":"3ce7622830bca25a","name":"function 8","func":"msg.payload = {\n    \"content\": msg.payload.output.generic[0].text,\n    \"chatId\": msg.params.session_id,\n    \"type\": \"message\"\n}\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":360,"wires":[["4b4574df7f35e604","4390325665996570"]]},{"id":"6df866b8ed3a6b8c","type":"switch","z":"3ce7622830bca25a","name":"","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"voice","vt":"str"},{"t":"eq","v":"message","vt":"str"},{"t":"eq","v":"sticker","vt":"str"},{"t":"eq","v":"photo","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":430,"y":300,"wires":[["a0b6697c5a97c0e0"],["945596998b2a465b"],["51e2327fcaeadecf"],["b6c1807e184201b4"]]},{"id":"a0b6697c5a97c0e0","type":"function","z":"3ce7622830bca25a","name":"function 9","func":"msg.params = {\n    session_id: msg.payload.chatId.toString()\n};\nmsg.payload = msg.payload.weblink;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":120,"wires":[["171515583151e7cf","17e206ac69987456"]]},{"id":"4250da78f8d487cb","type":"watson-assistant-v2","z":"3ce7622830bca25a","name":"BotAuxiliaChuvas","service-endpoint":"https://api.us-south.assistant.watson.cloud.ibm.com/instances/f957e9a2-3169-45c6-82dc-2fbba8a286ea","assistant_id":"cc60c20d-4a99-4615-a2f2-7a36a18cc87a","debug":false,"restart":false,"return_context":true,"alternate_intents":false,"multisession":true,"timeout":"","optout-learning":false,"persist-session-id":false,"x":670,"y":120,"wires":[["5eee8318681409c5"]]},{"id":"de35af9519855a5a","type":"function","z":"3ce7622830bca25a","name":"function 10","func":"msg.payload = {\n    chatId: msg.originalMessage.chat.id,\n    type: \"voice\",\n    content: msg.payload\n};\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":120,"wires":[["4b4574df7f35e604","079f0eb583e4b9b5"]]},{"id":"17e206ac69987456","type":"watson-speech-to-text","z":"3ce7622830bca25a","name":"","alternatives":1,"speakerlabels":true,"smartformatting":false,"lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"kCKraPREL7BA-sU7IauWq84O9fMNbBhGU7bWS3dgJtQy","payload-response":true,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"https://api.au-syd.speech-to-text.watson.cloud.ibm.com/instances/6d245ea7-41b2-4c1f-94ff-7f9eaaf9a58f","x":540,"y":180,"wires":[["4250da78f8d487cb"]]},{"id":"0760e107789992dc","type":"watson-text-to-speech","z":"3ce7622830bca25a","name":"","lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"pt-BR_LucasExpressive","voicehidden":"pt-BR_LucasExpressive","format":"audio/wav","password":"","apikey":"94quJUQvkaMqsIP151E-k5XAW9-sj8CEv31fj30Y06cN","payload-response":true,"service-endpoint":"https://api.au-syd.text-to-speech.watson.cloud.ibm.com/instances/3d1bcaa8-81a0-4a42-84cf-0f866cc7d4c1","x":820,"y":260,"wires":[["de35af9519855a5a"]]},{"id":"5eee8318681409c5","type":"function","z":"3ce7622830bca25a","name":"function 11","func":"msg.payload = msg.payload.output.generic[0].text;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":200,"wires":[["0760e107789992dc","beab106c7376f7a0"]]},{"id":"51e2327fcaeadecf","type":"function","z":"3ce7622830bca25a","name":"function 12","func":"msg.payload = {\n    content: '👀 Vi que você mandou uma figurinha! Para que eu possa te ajudar, por favor, me mande uma mensagem com palavras ou áudio. Estou aqui com você!😊',\n    chatId: msg.payload.chatId,\n    type: \"message\"\n};\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":620,"wires":[["4b4574df7f35e604","67b0528255e1974b"]]},{"id":"b6c1807e184201b4","type":"function","z":"3ce7622830bca25a","name":"function 13","func":"msg.payload = {\n    content: '👀 Vi que você mandou uma imagem! Para que eu possa te ajudar, por favor, me mande uma mensagem com palavras ou áudio. Estou aqui com você!😊',\n    chatId: msg.payload.chatId,\n    type: \"message\"\n};\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":680,"wires":[["4b4574df7f35e604","5f5894bb7ecda703"]]},{"id":"5f5894bb7ecda703","type":"debug","z":"3ce7622830bca25a","name":"debug 12","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":800,"y":760,"wires":[]},{"id":"67b0528255e1974b","type":"debug","z":"3ce7622830bca25a","name":"debug 13","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":800,"y":700,"wires":[]}]